:root {
    font-size: 16px;
  }
  
  * {
    margin: 0;
    padding: 0;
    
  }
body {
    background-color: whitesmoke;
}

.game-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#start-button {
  position: fixed;
  top: 15vh;
  left: 43vw;
    padding: 50px 50px;
    color: rgb(255, 255, 255);
    background-color: #001999;
    border-radius: 20px;
    border: 0px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
}

/* .hidden{
  display: none;
} */

.Instructions{
  font-size: 20px;
}

